body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spreads items to both sides */
    list-style: none;
    padding: 0;
    margin: 0;
}

.logout {
    margin-right: auto; /* Pushes "Log out" to the left */
}

.nav-links {
    display: flex;
    gap: 20px; /* Spaces out the navigation items */
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background:none;
    border-radius: 5px;
}


.hidden {
    display: none;
}

#reports-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.report-tile {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}